{% extends 'layouts/layoutPrincipal.html' %}


{% block title %}IPS SALUD Y VIDA {% endblock %}

{% block content %}
<div class="container">
    <div class="session1 d-flex justify-content-center p-2 mb-5"><h1 class="titulo1">IPS Salud y Vida</h1></div>
    <div class="d-flex align-items-center justify-content-center" style="height: 20vh;">
        <div class="card mx-auto" >
            <div class="card-body">
                <p class="p1">Bienvenido a IPS Salud y Vida, tu aliado confiable en la gestión integral de historias clínicas electrónicas. Nos enorgullece ofrecer un sistema de vanguardia que cumple estrictamente con la Resolución 866 de 2021 del Ministerio de Salud de Colombia, garantizando la interoperabilidad y seguridad de los datos médicos. En esta fase, nos dedicamos a proporcionar herramientas intuitivas y eficientes para la captura, modificación y eliminación de información clínica, asegurando una administración óptima y confidencial de los registros de nuestros pacientes.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}        

